/.vagrant/*
/.ipynb_checkpoints/*
/chat/*
/chat_archive/*
/docker/*
/ffmpeg/*
/filmstrip/*
/game_frames/*
/image_feature_test/*
/librosa/*
/pyAudioAnalysis/*
/test/*
/test_images/*
/test_images_old_vids/*
/test2/*
/timecodes/*
/train_game/*
/train_game-bak/*
/train_non-game/*
/train_non-game-bak/*
/video/*
